# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entornos virtuales
.venv/
venv/
env/
.env

# Modelos entrenados
*.onnx
*.pt
*.pth
*.pkl
hood-backend/models/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
